<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Calc1" connectionString="Server=INSQL1; Database=Ptocalc; Uid=wwAdmin; Pwd=wwAdmin;" providerName="System.Data.SqlClient" />
		<add name="Calc2" connectionString="Server=INSQL2; Database=Ptocalc; Uid=wwAdmin; Pwd=wwAdmin;" providerName="System.Data.SqlClient" />
		
		<add name="Runtime1" connectionString="Server=INSQL1; Database=Runtime; Uid=wwAdmin; Pwd=wwAdmin; Connection Timeout=240" providerName="System.Data.SqlClient" />
		<add name="Runtime2" connectionString="Server=INSQL2; Database=Runtime; Uid=wwAdmin; Pwd=wwAdmin; Connection Timeout=240" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>