.timepicker { 
    box-sizing: border-box;
    border: 1px solid #444;
    box-shadow: 0 .1em .5em 0 #000;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
    max-height: 10em;
    cursor: pointer;
    background: #333;
    color: #fff;
}
.timepicker > div {padding: .3em 1em;text-align: center;}
.timepicker > div:hover {background: #444;}
.timepicker > .picked {color: #63afff;}