<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Checkpoint" connectionString="DataSource=guard2; Database=guard2:D:\\ib\\RSTART.FDB; User=SYSDBA; Password=masterkey;" providerName="Firebird" />
		<add name="Dbf" connectionString="Provider=vfpoledb; Data Source=\\10.178.9.42\data; Extended Properties=dBASE IV; User ID=Admin; Password=" />
		<add name="Site" connectionString="Data Source=WEB\SQLEXPRESS; Initial Catalog=Site; Persist Security Info=True; User ID=Site; Password=Site" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>