.picker {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    display: none;
    background: #333;
    color: #fff;
    border: 1px solid #444;
    box-shadow: 0 .1em .5em 0 #000;
    padding: .3em;
    z-index: 100;
}

.picker_another {
    color: #888;
}

.picker_today {
    color: #0093ff;
}

.picker_picked {
    background: #63afff;
    color: #000;
}

.picker_title {
    text-align: center;
}

.picker_arrow {
    text-align: center;
    cursor: pointer;
    padding: 0 0 .5em;
    font-weight: bold;
    font-size: 1.2em;
}

.picker_arrow:hover {
    color: #63afff;
}

.picker th {
    font-size: 1.1em;
    font-weight: normal;
    color: #2196F3;
}

.picker_select {
    border: 1px solid #555;
    padding: .2em;
    font-size: .9em;
    background: #444;
    color: #fff;
}

.picker tbody td {
    font-size: .9em;
    padding: .3em;
    text-align: center;
    width: 2.4em;
    cursor: default;
}

.picker tbody td:hover {
    background: #eee;
    color: #000;
}

.picker tbody .picker_picked:hover {
    background: #63afff;
    color: #fff;
}